/* ---- title bar -------------------------------------------------------- */
.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3 {
    margin-bottom: -4px;
}

.typeWindows-1za-n7, .titleBar-AC4pGV {
    height: 0px;
}

.wordmark-2iDDfm {
    display: none;
}
.titleText-3X-zRE {
    font-size: 15px;
}

.winButtonClose-1HsbF-, .winButtonMinMax-PBQ2gm {
    margin-top: 8px;
}

.winButtonClose-1HsbF- {
    margin-right: 6px;
}

.typeMacOS-3EmCyP {
    margin-left: -4px;
    margin-top: 7px;
}


/* ---- channel bar ------------------------------------------------------ */
.guildsWrapper-5TJh6A {
    width: 50px;
}

.guild-1EfMGQ {
    margin-left: -10px;
    margin-bottom: -15px;
}

.friendsOnline-_wi_fM, .guildSeparator-1X4GQ1 {
    margin-left: -10px;
    margin-bottom: 5px;
}

.guild-1EfMGQ {
    transform: scale(.75)
}

.guild-1EfMGQ.unread-qLkInr:before {
    margin-left: 2px;
}



/* ---- top bar ---------------------------------------------------------- */
/* top bar - above channels column */
.header-2o-2hj {
    height: 36px;
    padding: 0px 16px 0px 16px
}

.name-3YKhmS {
    font-size: 13px;
}

/* top bar - above chat area */
.title-3qD0b-, .titleCall-_b9o8P {
    height: 36px;
    -webkit-app-region: drag;
}

/* top bar - search bar */
.search .search-bar, .search.focused .searchBar-2_Yu-C, .search.open .searchBar-2_Yu-C, .search.popout-open .searchBar-2_Yu-C {
    width: 288px;
}

/* WIN only */
.theme-dark > .noWrap-3jynv6 {
    margin-right: 82px;
}

/* PM top bar - search bar */
.private-channels .search-bar {
    margin-left: -14px;
    margin-top: -12px;
}

.private-channels .searchBarInner-1_Tg2R {
    margin-top: 12px;
    padding: 0px;
    transform: scale(.9);
}

.theme-dark .headerBar-UHpsPw {
    height: 36px;
}



/* ---- channels column -------------------------------------------------- */
.channels-Ie2l6A {
    width: 160px
}

/* channels column - channels area*/
.content-20Aix8 {
    height: 26px
}

.wrapper-KpKNwI {
    height: 30px
}

.name-3M0b8v {
    font-size: 12px
}

.nameDefault-2s3kbY, .nameHovered-21k1eo, .nameSpeaking-3UhoEZ {
    font-size: 12px;
}

.avatarSpeaking-1wJCNq, .avatarDefault-35WC3R, .avatarContainer-72bSfM {
    border-color: transparent;
	box-shadow: none;
	z-index: 10;
}

.avatarSpeaking-1wJCNq::before {
    content: "";
	position: absolute;
	left: -5px;
	width: 4px;
	height: 20px;
	background: #43b581;
}

.avatarSpeaking-1wJCNq::after {
    content: "";
	position: absolute;
	height: 20px;
	left: -5px;
	width: 100%;
	background: linear-gradient(to right, #43b581 0%, transparent 35%);
	opacity: 0.5;
	z-index: -1;
}

/* channels column - voice chat bar */
.inner-btChU7 .rtc-connection-status .ping {
    display: none
}

.inner-btChU7 .channel-SEolQq {
    display: none
}

/* channels column - user info area */
.accountDetails-3k9g4n .username {
    max-width: 0px
}

.accountDetails-3k9g4n .discriminator {
    display: none
}



/* ---- chat column ------------------------------------------------------ */
/* chat column - chat */
.chat .new-messages-bar {
    left: 8px
}

.messages .containerCozy-jafyvG .messageCozy-2JPAPA .headerCozy-2N9HOL .wrapper-2F3Zv8 {
    margin-left: -4px;
    margin-right: 4px;
}

.messages .containerCozy-jafyvG .messageCozy-2JPAPA .contentCozy-3XX413 {
    margin-left: 40px;
}

.messages .containerCozy-jafyvG .divider-32i8lo {
    margin-top: 10px;
    margin-bottom: 0px;
}

.messages .containerCozy-jafyvG {
    padding-top: 10px;
    margin-bottom: 0px;
}

.divider .da-divider {
    padding-top: 10px;
}

.messages .containerCozy-jafyvG:last-child {
    margin-bottom: 8px;
}

.avatar-17mtNa {
    margin-bottom: 10px;
}

/*chat column - emojis */
.emoji {
    min-width: 56px;
    min-height: 56px
}

.reaction .emoji {
    min-width: 36px;
    min-height: 36px
}

/* chat column - typing area */
.chat form {
    margin: 0px 4px;
}

.channelTextArea-rNsIhG {
    margin-top: 4px;
    margin-bottom: 20px;
}

.textArea-2Spzkt {
    font-size: .9rem;
    margin-left: 10px;
    padding: 2px 38px 2px 0;
}

.inner-zqa7da {
    border-radius: 5px;
}

.attachButton-1UjEWA {
    display: none
}

.attachButtonDivider-3Glu60 {
    display: none
}

.emojiButton-2wRZts {
    top: 3px;
}

.typing-2GQL18 {
    font-size: 10px;
    height: 18px;
}

.typing-2GQL18 .text-1y-e8- {
    line-height: 18px;
}

.typing-2GQL18 .ellipsis-19qdx6 {
    margin-top: -2px;
}



/* ---- member list ------------------------------------------------------ */
.membersWrap-2h-GB4 {
    min-width: 0px
}

.members-1998pB {
    max-width: 180px;
    margin-top: -10px;
}

.membersGroup-v9BXpm {
    margin-top: 4px;
    margin-left: -4px;
    font-size: 13px;
    letter-spacing: .5px;
    text-transform: capitalize
}

.member-3W1lQa {
    margin-left: 4px;
}

.memberInner-2CPc3V {
    margin-left: -4px;
}

.username-1cB_5E {
    font-size: 12px
}



/* ---- plugins ---------------------------------------------------------- */
.bf-toolbar.bf-left .bf-arrow {
    opacity: 0.0;
}
