/* ---- title bar -------------------------------------------------------- */
.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3 {
    margin-bottom: -4px;
}

.typeWindows-1za-n7, .titleBar-AC4pGV {
    height: 0px;
}

.wordmark-2iDDfm {
    display: none;
}

.winButtonClose-1HsbF-, .winButtonMinMax-PBQ2gm {
    margin-top: 8px;
}

.winButtonClose-1HsbF- {
    margin-right: 6px;
}



/* ---- channel bar ------------------------------------------------------ */
.guilds-wrapper {
    width: 60px;
}

.guilds-wrapper .guilds .friends-online, .guild, .guild-separator {
    margin-left: -5px;
    margin-bottom: -6px;
}

.guild {
    transform: scale(.9)
}

.guild.selected {
    transform: none;
}

.guild.selected::before {
    display: none;
}

.guild.unread::before {
    margin-left: 2px;
    transform: scale(1,1.25);
}



/* ---- top bar ---------------------------------------------------------- */
/* top bar - above channels column */
.header-2o-2hj {
    height: 36px;
    padding: 0px 16px 0px 16px
}

/* top bar - above chat area */
.title-3qD0b-, .titleCall-_b9o8P {
    height: 36px;
    -webkit-app-region: drag;
}

/* top bar - search bar */
.search .search-bar {
    width: 288px
}

.theme-dark > .noWrap-3jynv6 {
    margin-right: 82px;
}

/* PM top bar - search bar */
.private-channels .search-bar {
    margin-left: -4px;
    margin-top: -12px;
}

.private-channels .search-bar .search-bar-inner {
    margin-top: 12px;
    padding: 0px;
}

.theme-dark .headerBar-UHpsPw {
    height: 36px;
}



/* ---- channels column -------------------------------------------------- */
.channels-Ie2l6A {
    width: 160px
}

/* channels column - channels area*/
.content-20Aix8 {
    height: 26px
}

.wrapper-KpKNwI {
    height: 30px
}

.name-3M0b8v {
    font-size: 12px
}

.nameDefault-2s3kbY, .nameHovered-21k1eo, .nameSpeaking-3UhoEZ {
    font-size: 12px;
}

.avatarSpeaking-1wJCNq, .avatarDefault-35WC3R, .avatarContainer-72bSfM {
    border-color: transparent;
    box-shadow: none;
    z-index: 10;
}

.avatarSpeaking-1wJCNq::before {
    content: "";
    position: absolute;
    left: -5px;
    width: 4px;
    height: 20px;
    background: #43b581;
}

.avatarSpeaking-1wJCNq::after {
    content: "";
    position: absolute;
    height: 20px;
    left: -5px;
    width: 100%;
    background: linear-gradient(to right, #43b581 0%, transparent 35%);
    opacity: 0.5;
    z-index: -1;
}

/* channels column - voice chat bar */
.inner-btChU7 .rtc-connection-status .ping {
    display: none
}

.inner-btChU7 .channel-SEolQq {
    display: none
}

/* channels column - user info area */
.accountDetails-3k9g4n .username {
    max-width: 0px
}

.accountDetails-3k9g4n .discriminator {
    display: none
}



/* ---- chat column ------------------------------------------------------ */
/* chat column - chat */
.chat .new-messages-bar {
    left: 8px
}

.message-group .comment .markup {
    line-height: 1.0em;
    font-size: 0.9375rem
}

.message-group {
    padding: 10px 0px;
    margin-left: -7px
}

.message-group .avatar-large {
    margin-top: -13px;
    margin-right: 4px
}

/*chat column - emojis */
.emoji {
    min-width: 56px;
    min-height: 56px
}

.reaction .emoji {
    min-width: 36px;
    min-height: 36px
}

/* chat column - typing area */
.chat form {
    margin: 0px 4px
}

.channelTextArea-1LDbYG {
    margin: 5px 0 24px
}

.attachButton-1UjEWA {
    display: none
}

.attachButtonDivider-3Glu60 {
    display: none
}

.textArea-2Spzkt {
    font-size: .9rem
}

.textAreaEnabled-3vQ5WZ {
    padding: 0px 38px 0px 10px
}

.emojiButton-2wRZts {
    top: .5px
}

.typing-2GQL18 {
    font-size: 10px;
    height: 23px;
}

.typing-2GQL18 .ellipsis-19qdx6 {
    margin-top: -1px;
}



/* ---- member list ------------------------------------------------------ */
.membersWrap-2h-GB4 {
    min-width: 0px
}

.members-1998pB {
    max-width: 180px;
    margin-top: -10px;
}

.membersGroup-v9BXpm {
    margin-top: 4px;
    margin-left: -4px;
    font-size: 13px;
    letter-spacing: .5px;
    text-transform: capitalize
}

.member-3W1lQa {
    margin-left: 4px;
}

.memberInner-2CPc3V {
    margin-left: -4px;
}

.username-1cB_5E {
    font-size: 12px
}



/* ---- plugins ---------------------------------------------------------- */
.bf-toolbar.bf-left .bf-arrow {
    opacity: 0.0;
}
